<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark d-flex justify-content-around">
    <a class="navbar-brand d-flex align-items-center" routerLink=""><i class="fas fa-gamepad me-4"></i>Steamish</a>
    <div class="">
      <ul class="navbar-nav gap-5 justify-content-end align-items-center">
        <li class="nav-item active">
          <a class="nav-link" routerLink="">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/accounts">Comptes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/create_account">Créer un compte</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
